In [1]:
import pandas as pdfrom geopy.geocoders import Nominatim

ModuleNotFoundError: No module named 'pandas'

In [2]:
df = pd.read_csv('csvfiles/cityla_merged_v3.csv')

In [3]:
df.head()

,Registration Number,Registered Adddress,Registered Unit Number,Permit Holder Name 1,Platforms Reported at Application,city,holder_name_list,first_name
0,hsr19-000002,"56 ozone ave, venice, ca 90291, usa",NaN,chantel huntermah,NaN,venice,"['chantel', 'huntermah']",chantel
1,hsr19-000007,"752 w athens blvd, los angeles, ca 90044, usa",NaN,rodolfo lara,NaN,los angeles,"['rodolfo', 'lara']",rodolfo
2,hsr19-000023,"6776 milner rd, los angeles, ca 90068, usa",NaN,nicolas risherpaul,NaN,los angeles,"['nicolas', 'risherpaul']",nicolas
3,hsr19-000032,"5930 echo st, los angeles, ca 90042, usa",NaN,susan carpenter,NaN,los angeles,"['susan', 'carpenter']",susan
4,hsr19-000043,"5922 barton ave, los angeles, ca 90038, usa",NaN,harold boling -,NaN,los angeles,"['harold', 'boling', '-']",harold